body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.name{
    color: blue;
}
.top{
    width: 50%;
    padding: 10px;
}
section{
    display: flex;
    padding: 10px;
    margin-bottom: 50px;
}
.top img{
    width: 100%;
}
.hire{
    text-decoration: none;
    background-image: linear-gradient(green, blue);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: black;
}